<footer class="footer">
  <p class="footer__copyright">
    &copy; Developed with Astro by <strong>P Sagnes</strong>.
  </p>
  <p class="footer__version">Version 1.0</p>
</footer>

<style>
  .footer {
    width: 100vw;
    background-color: #f1f1f1;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer * {
    margin: 0;
  }
</style>
